/* ======
Layout
====== */
.header {
	padding: 1.25rem;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
}

.header__title {
	max-width: fit-content;
	margin: 0 auto;
}

/* Nav */
.nav {
	position: sticky;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 1.5rem;
	width: 100%;
	padding: 2rem 3rem;
	background-color: gainsboro;
}

.nav__search,
.nav__select {
	min-height: 2rem;
}

.nav__search {
	width: min(500px, 100%);
}

.nav__select {
	margin: 0 0.75rem;
}

/* Cards */

.main__grid {
	max-width: 90%;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(min(17rem, 100%), 1fr));
}

.grid__card {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	padding: 1rem;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	background: #bdc3c7;
	background: -webkit-linear-gradient(
		to bottom,
		#2c3e50,
		#bdc3c7
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to bottom,
		#2c3e50,
		#bdc3c7
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card__content {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

/* Pagination */
.grid__pagination {
	width: 90%;
	margin: 1.5rem;
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 0.75rem;
	cursor: pointer;
}

.pagination__activeBtn {
	color: crimson;
}

.pagination__nextBtn:hover, 
.pagination__backBtn:hover {
	color: crimson;

}

/* Images */
.img {
	max-width: 100%;
}

/* ========
Typography
========= */
.header__title {
	font-size: clamp(1.5rem, 2.5vw, 4rem);
}

.grid__card p {
	font-size: 0.8rem;
}

.grid__card h2 {
	font-size: 1rem;
}

.grid__pagination {
	font-size: clamp(0.9rem, 2vw, 1.5rem);
}

/* =======
Media
======= */
@media (min-width: 700px) {
	.nav {
		margin-bottom: min(2rem, 10%);
	}
}
